set-option -g default-shell {{ output "which" "zsh" | trim }}

# True-color support
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",*256col*:Tc"

set-option -g history-limit 10000

setw -g automatic-rename on
set-option -g allow-rename off

# image.nvim support
set -gq allow-passthrough on
set-option -g focus-events on
set -g visual-activity off
