[bitwarden]
  unlock = "auto"

[edit]
  command = "nvim"

[data]
  [[data.accounts]]
    name = "primary"
    remote_pattern = "github.com"
    registrar = "github"
    email = "{{ (bitwarden "item" "My GitHub profile (primary)").identity.email }}"
    username = "{{ (bitwarden "item" "My GitHub profile (primary)").identity.username }}"
    auth_key = "key_auth_primary"
    sign_key = "key_sign_primary"

  [[data.accounts]]
    name = "misc"
    remote_pattern = "github.com"
    registrar = "github"
    email = "{{ (bitwarden "item" "My GitHub profile (misc)").identity.email }}"
    username = "{{ (bitwarden "item" "My GitHub profile (misc)").identity.username }}"
    auth_key = "key_auth_misc"
    sign_key = "key_sign_misc"

  [[data.accounts]]
    name = "sourcecraft"
    remote_pattern = "sourcecraft.dev"
    registrar = "manual"
    email = "{{ (bitwarden "item" "SourceCraft profile").identity.email }}"
    username = "{{ (bitwarden "item" "SourceCraft profile").identity.username }}"
    auth_key = "key_sourcecraft"
    sign_key = "key_sourcecraft"
