{{- if (env "ANDROID_ROOT") }}
{{ .bw_primary_email }} {{ include (joinPath .chezmoi.homeDir ".ssh/android-signing-primary.pub") }}
{{ .bw_misc_email }} {{ include (joinPath .chezmoi.homeDir ".ssh/android-signing-misc.pub") }}
{{- else }}
{{ (bitwarden "item" "vault.bitwarden.com").login.username }} {{ .bw_primary_key }}
{{ (bitwarden "item" "vault.bitwarden.com").login.username }} {{ .bw_misc_key }}
{{- end }}
